.header-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.header-container h1 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.header-icon {
  color: white;
  height: 40px;
  width: 40px;
}
