.post-container {
  height: auto;
  width: 100%;
  background-color: #282626;
  border: 1px solid #484646;
  margin-bottom: 35px;
  flex-direction: row;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.post-container img {
  max-height: 180px;
  max-width: 270px;
  border-radius: 3px;
  margin-right: 20px;
}

.content-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.content-container a {
  color: white;
  text-decoration: none;
}

.content-container h1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.content-container h2 {
  margin-top: 6px;
  color: #9f9f9f;
  font-size: 12px;
  font-weight: bold;
}

.content-container h3 {
  margin-top: 8px;
  color: #aea9a9;
  font-size: 12px;
  font-weight: bold;
}
