.title-box {
  margin: 30px auto 0 auto;
  align-items: center;
  display: flex;
  width: 900px;
  flex-direction: column;
  height: auto;
}

.line-container {
  margin-top: 25px;
  width: 100%;
}

.news-posts-box {
  padding: 0 28px 0 28px;
  display: flex;
  width: 900px;
  height: auto;
  margin: 40px auto;
  border: 1px solid #484646;
  background-color: #211e1d;
  border-radius: 4px;
  flex-direction: column;
}

.search-post-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.posts-container {
  margin-top: 25px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.posts-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
