.title-box {
  margin: 70px auto 0 auto;
  align-items: center;
  display: flex;
  width: 900px;
  flex-direction: column;
  height: auto;
}

.line-container {
  margin-top: 25px;
  width: 100%;
}

.news-posts-box {
  justify-content: center;
  display: flex;
  width: 900px;
  height: 700px;
  margin: 40px auto;
  border: 1px solid #484646;
  background-color: #211e1d;
  border-radius: 4px;
}

.search-post-container {
  margin-top: 30px;
}
